<div class = 'container'>
  <h1>Find a Flat</h1>

  <%= form_tag flats_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a flat"
  %>
  <%= submit_tag "Search", class: "btn btn-primary mt-2" %>
<% end %>

  <% @flats.each do |f| %>
    <div class="card-product" id="flats">
      <% if f.photos.attached?%>
        <%= cl_image_tag f.photos.first.key, height: 300, width: 400, crop: :fill %>
      <% end %>
      <div class="card-product-infos">
        <h2><%=link_to f.name,flat_path(f)%></h2>
        <p><%= f.address %></p>
      </div>
    </div>
  <% end %>
</div>
