<div class = "container">
  <h1>Bookings</h1>
  <% unless @bookings.empty? %>
    <ul>
      <%@bookings.each do |b|  %>
      <div class="card-bookings">
       <li> Price £ <%= b.cost %> <br>
        Start date <%= b.start_date %><br>
        End date <%= b.end_date %> <br></li>
        <li><%= link_to "delete", booking_path(b), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-primary" %></li>
      </div>
      <%end %>
    </ul>
  <% else %>
    <h2>Hello :) You don't have any bookings yet</h2>
  <% end %>
   <%= link_to "Search flats", flats_path, class: "btn btn-primary"%>
</div>